// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: #0c64a2;
    padding: .35rem 1rem;
}

.items-list {
    .item {
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;

        &:first-of-type {
            margin-top: 0;
        }
    }
}
